.contacts-title {
    font: normal normal bold 72px/70px "Raleway";
    letter-spacing: 0;
    color: #FFFFFF;
}

.contacts-rightColumnContent {
    margin-left: 100px;
}

.contacts-address {
    padding-top: 70px;
    text-align: left;
    font: normal normal normal 36px/42px Raleway;
    letter-spacing: 0;
    color: #FFFFFF;
}

.contacts-emailRow {
    margin-top: 68px;
}

.contacts-emailColumn {
    width: 812px;
    height: 86px;
    margin-top: 18px;
}

.contacts-emailColumn input {
    height: 86px;
}

.contacts-text {
    width: 812px;
    height: 441px;
}

.contacts-text textarea {
    height: 441px;
}

.contacts-submit {
    margin-top: 50px;
}
