.screenButton {
    background: #0B8793 0 0 no-repeat padding-box !important;
    height: 80px !important;
    font: normal normal normal 24px/29px "Raleway" !important;
    letter-spacing: 0 !important;
    color: #FFFFFF !important;

}

.screenButton-extraLarge {
    width: 400px !important;
}

.screenButton-large {
    width: 300px !important;
}

.screenButton-medium {
    width: 260px !important;
}
