.author {
    width: 570px;
}

.author-circle {
    margin: 0 auto;
    width: 398px;
    height: 398px;
    background: #B9B9B9 0 0 no-repeat padding-box;
    opacity: 1;
    border-radius: 50%;
}

.author-title {
    margin: 53px auto;
    text-align: center;
    font: normal normal bold 36px/42px "Raleway";
    letter-spacing: 0;
    color: #29274E;
    opacity: 1;
}

.author-text {
    margin-top: 72px;
    text-align: left;
    font: normal normal normal 24px/29px "Arimo";
    letter-spacing: 0;
    color: #707070;
    opacity: 1;
}
