.screenTitle-text {
    margin-block-end: 0;
    font: normal normal bold 92px/110px "Raleway";
    letter-spacing: 0;
    color: #360033;
    opacity: 1;
}

.screenTitle-text-primary {
    font: normal normal bold 92px/110px "Raleway";
}

.screenTitle-text-secondary {
    font: normal normal bold 72px/70px "Raleway";
}
