.exampleItem {
    width: 320px;
}

.exampleItem-square {
    margin: 0 auto;
    width: 260px;
    height: 260px;
    background: #FFFFFF 0 0 no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 68px;
    opacity: 0.43;
}

.exampleItem-title {
    margin: 47px 30px 0 30px;
    text-align: center;
    font: normal normal bold 36px/42px "Raleway";
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1;
}

.exampleItem-text {
    margin-top: 18px;
    text-align: left;
    font: normal normal normal 24px/29px "Arimo";
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1;
}
