@import url('https://fonts.googleapis.com/css?family=Raleway:b&display=swap');
@import url('https://fonts.googleapis.com/css?family=Arimo:b&display=swap');

@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Arimo&display=swap');

@import url('bulma/css/bulma.css');

html {
    box-sizing: border-box;
    overflow-x: auto;
    overflow-y: auto;
    scroll-behavior: smooth;
}

body {
    /*font: 20px "Century Gothic", Futura, sans-serif;*/
    margin: 0 auto;
    width: 1920px;
    height: 6650px;
    /*outline: 1px solid gray;*/
}

#root {
    background-image: url(img/background.png);
    background-size: contain;
    background-repeat: no-repeat;
}

* {
    /*outline: 1px solid gray;*/
}

.page-main {
    padding-top: 100px;
    height: 1200px;
}
/*full height = 1200px*/

.page-aboutWork {
    padding-top: 120px;
    padding-left: 1100px;
    height: 900px;
}
/*full height = 2100px */

.page-aboutUs {
    padding-top: 400px;
    padding-left: 140px;
    height: 800px;
}
/*full height = 2900px */

.page-myWork {
    padding: 385px 15% 0;
    height: 900px;
}
/*full height = 3800px */

.page-authors {
    padding: 385px 15% 0;
    height: 1700px;
}
/*full height = 5500px */

.page-contacts {
    padding-top: 100px;
    padding-left: 140px;
    padding-right: 140px;
    height: 1150px;
}
/*full height = 6650px */
