.textarea::placeholder {
    font: normal normal normal 24px/29px Raleway;
    letter-spacing: 0;
    color: #196C86;
}

.textarea {
    font-size: 1.5em;
}


.textarea.is-rounded {
    border-radius: 43px;
}
